.banner{
  background-size: cover;
  background-repeat: no-repeat;
  @extend .white;
  font-family: $heading;
  &.medium{
    height: 225px;
    .banner-text{
      margin-top: 10%;
    }
  }
  &.large{
    height: 375px;
    .banner-text{
      margin-top: 18%;
    }
  }
  &.outlook {
    background-image: url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/o365-overview.jpg");
  }
}

.jigsaw {
  h1 {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    color: $white;
    text-align: left;
    font-family: Helvetica;
  }
  .leftBox {
    border-left: 10px solid $white;
    border-bottom: 10px solid $white;
    transform: skew(-45deg) rotate(90deg);
    height: 352px;
  }
  .copyBox {
    border: 10px solid $white;
    margin-top: -9px;
    margin-left: -175px;
  }
  .bottomBox {
    border-right: 10px solid $white;
    border-left: 10px solid $white;
    transform: skew(-45deg);
    height: 69px;
    margin-left: -210px;
  }
}

@media only screen and (max-width : 1200px) {
  .jigsaw {
    h1 {
      font-size: 4em;
    }
    .leftBox {
      display: none;
    }
    .copyBox {
      border: 5px solid $white;
      margin: 0;
    }
    .bottomBox {
      display: none;
    }
  }
}